.product_card_wrapper {
    display: flex;
    margin: 5px 10px;
    flex-direction: column;
    padding: 10px;
    justify-items: center;
    width: 200px;
    background-color: #ced5cd;
    box-shadow: 1px 3px 10px black;
}

.product_image {
    border-radius: 10px;
    width: auto;
    height: 200px;
    cursor: pointer;
}

.product_text {
    text-align: center;
    font-size: 24px;
}

.product_deletion_buttons{
    display: flex;
    justify-content: space-around;
}

.product_button_delete,
.product_button_confirm,
.product_button_cancel {
    padding: 5px 10px;
    border-radius: 10px;
}

.product_button_confirm {
    background-color: #82d67f;
}

.product_button_cancel {
    background-color: #de7981;
}